{% extends 'base.html' %}

{% block content %}
<br>
<h1>Jobs</h1>
<br><br>

<!-- add a dropdown menu for selecting a location -->
<form method="GET">
    <select name="location">
        <option value="">All Locations</option>
        {% for location in locations %}
            <option value="{{ location }}">{{ location }}</option>
        {% endfor %}
    </select>
    <button type="submit">Filter</button>
</form>

{% if all_jobs %}
<div class="table-responsive">
    <table class="table table-striped" style="margin: 0 auto;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Company</th>
                <th>Link</th>
                <th>Location</th>
                <th>Description</th>
                <th>Requirements</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for job in all_jobs %}
            <tr>
                <td>{{ job.title }}</td>
                <td>{{ job.company_name }}</td>
                <td><a href="{{ job.application_link }}">{{ job.application_link }}</a></td>
                <td>{{ job.location }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.requirements }}</td>
                <td>{% if job.salary %}{{ job.salary }}${% else %}Not specified{% endif %}</td>
                <td><a href="{% url 'jobDetail' job.id %}" class="btn btn-primary"
                        style="background-color:#465c7e; color:white; padding: 1em 1.5em; text-decoration: none; border-radius: 10px; display: inline-block; margin-top: 10px; margin-bottom: 10px; font-size: 12px;">View
                        Details</a></td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No job listings yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    body {
        text-align: center;
    }

    table {
        text-align: center;
        border-collapse: collapse;
        width: 90%;
    }

    .table-responsive {
        text-align: center;
        margin-bottom: 60px;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }
</style>

{% else %}
<p>No job listings yet.</p>
{% endif %}
{% endblock %}