{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="profile-container" style="text-align: center;">
  <div class="profile-recruiter">
    {% if saved %}
    <div class="alert alert-success">
      Your changes have been saved.
    </div>
    {% endif %}
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h1 style="margin-left: 115px; flex: 1;">My Profile</h1>
      {% if request.user == recruiter.user or request.user.is_staff %}
      <a style="background-color:#040b15; color:white; padding: 1em 1.5em; text-decoration: none;text-transform: uppercase; border-radius: 10px; display: inline-block; margin-top: 10px; margin-bottom: 10px; font-size: 14px; margin-right: 15px;"
        href="{% url 'editProfileRecruiter' pk=recruiter.pk %}">Edit Profile</a><br>
      <a style="background-color:#040b15; color:white; padding: 1em 1.5em; text-decoration: none;text-transform: uppercase; border-radius: 10px; display: inline-block; margin-top: 10px; margin-bottom: 10px; font-size: 14px; margin-right: 15px;"
        href="{% url 'postJob' %}">Post Job</a>
      {% endif %}

    </div>

    <img class="profile-pic" src="{{ recruiter.photo.url }}" alt="{{ recruiter.name }}'s profile picture ">
    <h3>Full Name: {{ recruiter.full_name }}</h3>
    <h3>Email: {{ recruiter.email }}</h3>
    <h3>Phone Number: {{ recruiter.phone_number }}</h3>
    <h3>City: {{ recruiter.city }}</h3>
    <h3>Age: {{ recruiter.age }}</h3>
    <h3>Summary: {{ recruiter.summary }}</h3>
    <h3>Company: {{ recruiter.company }}</h3>

  </div>
  <br>
  <h1>Jobs</h1>
  <br><br>
  {% if all_jobs %}
  <div class="table-responsive">
    <table class="table table-striped" style="margin: 0 auto;">
      <thead>
        <tr>
          <th>Title</th>
          <th>Company</th>
          <th>Link</th>
          <th>Location</th>
          <th>Description</th>
          <th>Requirements</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        {% for job in all_jobs %}
        <tr>
          <td>{{ job.title }}</td>
          <td>{{ job.company_name }}</td>
          <td><a href="{{ job.application_link }}">{{ job.application_link }}</a></td>
          <td>{{ job.location }}</td>
          <td>{{ job.description }}</td>
          <td>{{ job.requirements }}</td>
          <td>{% if job.salary %}{{ job.salary }}${% else %}Not specified{% endif %}</td>
          <td><a href="{% url 'deleteJob' job.id %}" class="btn btn-primary"
              style="background-color:#ba261b; color:rgb(0, 0, 0); padding: 1em 1.5em; text-decoration: none; border-radius: 10px; display: inline-block; margin-top: 10px; margin-bottom: 10px; font-size: 12px;">Delete</a>
          </td>

        </tr>
        {% empty %}
        <tr>
          <td colspan="6">No job listings yet.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <style>
    body {
      text-align: center;
    }

    table {
      text-align: center;
      border-collapse: collapse;
      width: 90%;
    }

    .table-responsive {
      text-align: center;
      margin-bottom: 60px;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    tr:hover {
      background-color: #f5f5f5;
    }
  </style>

  {% else %}
  <p>No job listings yet.</p>
  {% endif %}

  <script>

    var regularSection = document.querySelector('.profile-container > .profile-recruiter');

  </script>

  {% endblock %}