{% load static %}
{% load my_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}JobTechFinder{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Braah+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <ul style="display: flex;">
                <li style="font-weight: bold;"><a href="/">Home</a></li>
                <li style="font-weight: bold;"><a href="{% url 'aboutUs' %}">About Us</a></li>
                <li style="font-weight: bold;"><a href="{% url 'contactUs' %}">Contact Us</a></li>
                <li style="font-weight: bold;"><a href="{% url 'siteRules' %}">Site Rules</a></li>
                <li style="font-weight: bold;"><a href="{% url 'jobList' %}">Jobs</a></li>

                {% if user.is_authenticated %}
                {% if request.user|user_in_group:"Junior" %}
                <li style="font-weight: bold;"><a href="{% url 'checkProfile' %}">My Profile</a></li>
                <li style="font-weight: bold;"><a href="{% url 'suggestions' %}">Improve Your CV</a></li>
                {% elif request.user|user_in_group:"Recruiter" %}
                <li style="font-weight: bold;"><a href="{% url 'checkProf' %}">My Profile</a></li>
                <li style="font-weight: bold;"><a href="{% url 'juniorList' %}">Juniors</a></li>
                {% endif %}
                {% if user.is_staff%}
                <li style="font-weight: bold;"><a href="{% url 'reports' %}">Reports</a></li>
                {% endif %}


                <li>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                <li style="font-weight: bold;"><a href="{% url 'logout' %}">Logout</a></li>
                </form>
                </li>

                <li style="font-weight: bold; font-size: 13px; color:#aae0fa">
                    <div style="display: flex; align-items: center; margin-top: 5px; margin-left: 60px;">
                        {% if user.juniors.photo %}
                        <img src="{{ user.juniors.photo.url }}" alt="Profile Picture"
                            style="border-radius: 50%; height: 40px; width: 40px; margin-right: 5px;">
                        {% else %}
                        <img src="{% static 'media/default.jpg' %}" alt="Default Picture"
                            style="border-radius: 50%; height: 30px; width: 30px; margin-right: 5px;">
                        {% endif %}
                        <span style="display: inline-block;">You are logged in as:
                            {{ user.username }}</span>
                    </div>
                </li>

                {% else %}
                <li style="font-weight: bold;"><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>&copy; 2023 JobTechFinder</p>
    </footer>
</body>

</html>