{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Rules of our site:</h1>
<ol>
  <li>Be respectful and professional in all communication with employers and other users of the site.</li>
  <li>Do not post false or misleading information in your job applications or on your profile.</li>
  <li>Only apply for jobs that you are qualified for and genuinely interested in.</li>
  <li>Do not attempt to solicit or accept payments outside of the platform.</li>
</ol>
<p>By using our site, you agree to abide by these rules. Failure to comply may result in account suspension or termination.</p>
{% endblock %}